<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <script>
      var row = 0;
      let counter = 0;
    </script>
  </head>
  <body class="g-sidenav-show bg-gray-100">
    <div class="min-height-300 bg-dark position-absolute w-100"></div>
    <%- include('../partials/sidebar') %>
    <main class="main-content position-relative border-radius-lg">
      <%- include('../partials/nav') %>
      <div class="container-fluid py-4">
        <div class="row mt-4">
          <div class="col-lg mb-lg-0 mb-4">
            <div class="card">
              <div class="card-header pb-0 p-3">
                <div class="d-flex justify-content-between">
                  <div class="row">
                    <div class="col-2">
                      <a class="btn btn-icon-only btn-rounded btn-outline-dark mb-0 me-3 btn-md d-flex align-items-center justify-content-center" href="/"><i class="ni ni-bold-left" aria-hidden="true"></i></a> 
                      <br>

                    </div>
                    <div class="col-2">
                      <img
                      src="/assets/img/monitor/windows.png"
                      width="60"
                      alt=""
                      class="mt-3"
                    />
                    </div>
                    <div class="col-6">
                      <h6 class="mb-2">Windows Host</h6>
                      <p>Support : Windows Server, Windows 10</p>  
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-header pb-0 p-3">
                <h6 class="mb-2">All Windows Host</h6>
                <button class="btn btn-outline-danger" onclick="PingWindowsNode()">Test Ping</button>
                <button class="btn btn-danger" id="btnInstall" onclick="InstallWindowsExporter()">Install Windows-Exporter</button>
              </div>
              <div class="table-responsive">
                <table class="table align-items-center">
                  <thead class="table-dark">
                    <tr>
                      <th>IP Host</th>
                      <th>Username</th>
                      <th>Password</th>
                      <th>OS</th>
                      <th>Distrubution</th>
                      <th>Protocol</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody style="text-align: center;" id="table_body">
                    <% let i = 0; if ( HostList.length > 0 ) { %>
                        <% HostList.forEach ( function ( reccord, index ) { %>
                            <tr id="row<%= reccord.host_id %>">
                                <td>
                                    <%= reccord.host_ip %>
                                </td>
                                <td>
                                    <%= reccord.host_username; %>
                                </td>
                                <td>
                                  <div class="badge bg-gradient-secondary">**********</div>
                                </td>
                                <td>
                                    <%= reccord.host_os; %>
                                </td>
                                <td>
                                    <%= reccord.host_os_type; %>
                                </td>
                                <td>
                                    <%= reccord.host_protocol; %>
                                </td>
                                <td>
                                  <a class="btn btn-link text-danger text-gradient px-3 mb-0" onclick="delHost('<%= reccord.host_ip; %>','<%= reccord.host_id; %>')" href="#"><i class="far fa-trash-alt me-2" aria-hidden="true"></i>Remove</a>
                                </td>
                            </tr>
                        <% } ); %>
                    <% } else { %>
                        <tr>
                            <td id="no_data_msg" colspan="100%">- No Data -</td>
                        </tr>
                    <% } %>            
                </tbody>
                </table>
              </div>
              <center>
                <button class="btn btn-success btn-sm ms-auto" id="" onclick="addHost()">
                  Save
                </button>
                <button
                  class="btn btn-primary btn-sm ms-auto"
                  onclick="addRow()"
                >
                  Add Host
                </button>
              </center>
            </div>
          </div>
    
        </div>
        <div class="row mt-4" id="Console" tabindex="0">
          <div class="col-lg-12 mb-lg-0 mb-4">
            <div class="card">
              <div class="card-header pb-0 p-3 bg-dark">
                <div class="row">
                  <div class="col-md-6" style="text-align: left;">
                    <h6 class="mb-2 text-light font-weight-bold">Console</h6>
                  </div>
                  <div class="col-md-6" style="text-align: right;">
                    <button class="btn btn-secondary btn-sm" onclick="clearConsole()">Clear</button>
                    <button class="btn btn-secondary btn-sm" onclick="killProcess()">Kill</button>
                  </div>
                </div>
              </div>
              <div class="card-body" style="background-color: black;">
               <pre class="text-info" id="output"></pre>
              </div>
              <div class="card-footer bg-secondary pb-0 p-3">
                <br>
               </div>
            </div>
          </div>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script>
          var socket = io();

          function addHost(){
            console.log(`size : ${counter}`);
          
            let host_ip="",host_os,host_os_type,username,password,protocol;
            let data_arr = [];
            for(i=0 ; i< counter; i++){
              host_ip = $(`#input_row${i}col${0}`).val();
              username = $(`#input_row${i}col${1}`).val();
              password = $(`#input_row${i}col${2}`).val();
              os = $(`#input_row${i}col${3}`).val();
              os_type = $(`#input_row${i}col${4}`).val();
              protocol = $(`#input_row${i}col${5}`).val();
              data_arr.push([host_ip,username,password,os,os_type,protocol])

            }
            // console.log(data_arr);
            $.ajax({
              url: "/windows/add",
              method: "POST",
              data: { data : data_arr },
              success: function (response) {
                alert(response)
                if (response == "ok") {
                  location.reload();
                  //alert("Linux host is ready.");
                  // Swal.fire({
                  //   icon: 'success',
                  //   title: 'Hosts changes saved.',
                  //   text: 'Successfully saved to the windows_host file.',
                  // }).then(()=>{
                  //   // location.reload();
                  // })
                }
              },
              error: function (xhr, status, error) {
                console.error(xhr.responseText);
              },
            });
          }

          function delHost(ip,id){
            $.ajax({
              url: "/windows/del",
              method: "POST",
              data: { ipaddr : ip },
              success: function (response) {
                if (response == "ok") {
                  //alert("Linux host is ready.");
                  $(`#row${id}`).remove()
                }
              },
              error: function (xhr, status, error) {
                console.error(xhr.responseText);
              },
            });
          }

          function addRow() {
            $("#table_body").append(
              `<tr id="row${row}">
                    <td id="row${row}col0">
                        <input type="text" id="input_row${row}col0" class="form-control">
                    </td>
                    <td id="row${row}col1">
                        <input type="text" id="input_row${row}col1" class="form-control">
                    </td>
                    <td id="row${row}col2">
                      <input type="text" id="input_row${row}col2" class="form-control">
                    </td>
                    <td id="row${row}col3">
                        <input type="text" id="input_row${row}col3" value="Windows" disabled  class="form-control">
                    </td>
                    <td id="row${row}col4">
                      <select class="form-control" id="input_row${row}col4" name="os_type" id="os_type">
                        <option value="ubuntu">Windows Desktop</option>
                        <option value="redhat">Windows Server</option>
                      </select>
                    </td>
                    <td id="row${row}col5">
                      <input type="text" id="input_row${row}col5" value="winrm" disabled  class="form-control">
                    </td>
                    <td id="row${row}col6">
                        <a class="btn btn-link text-danger text-gradient px-3 mb-0" onclick="removeRow(${row})" href="#"><i class="far fa-trash-alt me-2" aria-hidden="true"></i>Remove</a>
                    </td>
                </tr>`
            );
            row++;
            counter++;
            console.log("counter =" + counter);
          }

          function saveFile() {
            let text = "[win] \n";
            console.log("row = " + row);
            console.log("connter = " + counter);
            if (row == 0) {
                jsonData = 0;
            } else {
              for (c = 0; c <= counter; c++) {
                if ($(`#input_row${c}col${0}`).val() === undefined) {
                } else {
                  let key_array = [];
                  key_array.push($(`#input_row${c}col${0}`).val());
                  key_array.push($(`#input_row${c}col${1}`).val());
                  key_array.push($(`#input_row${c}col${2}`).val());
                  jsonData[`row${c}`] = key_array;
                  text += `${$(`#input_row${c}col${0}`).val()} ansible_user=${$(`#input_row${c}col${1}`).val()} ansible_password=${$(
                    `#input_row${c}col${2}`
                  ).val()} \n`;
                }
              }
            }
            //console.log(text);

            $.ajax({
              url: "/WindowsConfig/SaveFile",
              method: "POST",
              data: { text: text, text_json: jsonData },
              success: function (response) {
                if (response == "ok") {
                  //alert("Windows host is ready.");
                  Swal.fire({
                    icon: 'success',
                    title: 'Hosts changes saved.',
                    text: 'Successfully saved to the windows_host file.',
                  }).then(()=>{
                    location.reload();
                  })
                }
              },
              error: function (xhr, status, error) {
                console.error(xhr.responseText);
              },
            });
          }

          function removeRow(row){
            console.log('removeRow '+row);
            counter = counter - 1; 
            $(`#row${row-1}`).remove(0); 
       
            delete jsonData[`row${row-1}`];
            console.log(jsonData);
          }

          function PingLinuxNode() {
            //$('#btnInstall').attr('disabled',true)
            $('#Console').focus()
            $('#output').append("test Ping ... \n")
            const command='ansible win -m win_ping -i ./resources/inventory/windows_host.ini';
            socket.emit('dataCMD', { cmd: command});
            socket.on('output', (data) => {
                const output = document.getElementById('output');
                output.innerHTML += data;
            });
          
          }


          function CurlExporter(ipaddress) {
            //$('#btnInstall').attr('disabled',true)
            $('#Console').focus()
            $('#output').append('curl... ['+ipaddress+':9182] \n')
            $.ajax({
              url: "/CurlExporter",
              method: "POST",
              data:{ipaddr:ipaddress,os_type:"windows"},
              success: function (response) {
                console.log(response);
                $('#output').append(response)
              },
              error: function (xhr, status, error) {
                console.error(xhr.responseText);
                $('#output').append(xhr.responseText)
              },
            });
          }

          function InstallWindowsExporter() {
            $('#btnInstall').attr('disabled',true)
            $('#Console').focus()
            $('#output').append('Installing...')
            const command='ansible-playbook ./resources/install-windows-exporter.yml -i ./resources/inventory/windows_host.ini';
            socket.emit('dataCMD', { cmd: command});
            socket.on('output', (data) => {
                const output = document.getElementById('output');
                output.innerHTML += data;
            });
          }

          function killProcess() {
            socket.emit('killProcess');
            $('#output').append('Process kill by user...')
          }

          function clearConsole(){
            $('#output').empty();
          }

        </script>
        <%- include('../partials/footer') %>
      </div>
    </main>
  </body>
</html>
